:root {
  --box-shadow: 5px 5px 10px 10px #1292ee;
  --bg-color: #2f475f;
  --border: 2px solid blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: 1px solid white;
  height: 1px;
  width: 100%;
}

.heading {
  color: #1292ee;
  text-shadow: 2px 2px 2px #000000;
}

body {
  background-color: #121b23;
  /* rgb(11, 26, 51) */
  color: white;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

a {
  text-decoration: none;
  color: white;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

/* Navbar section */
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  /* margin: auto; */
  left: 25%;
  top: 1rem;
  z-index: 1000;
  background-color: #002651;
  border-radius: 30px;
  width: 55%;
  border: var(--border);
  box-shadow: 1px 1px 10px 7px #1292ee;
}

.nav_bar .nav_items {
  padding: 15px 15px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 0.3rem;
}

.nav_bar a:hover {
  color: black;
  background-color: var(--bg-color);
  padding: 5px 15px;
  transition: all 0.3s;
}

/* Home */
.home {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home .left {
  width: 40vw;
  text-align: center;
  background-color: var(--bg-color);
  padding: 30px;
  border-radius: 10px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.home .right .img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.home .right .img img {
  height: 40vh;
  width: 20vw;
  border-radius: 100%;
  border: 5px solid yellow;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes superman {
  0% {
    border-color: blue;
    transform: translate(0 0px);
    box-shadow: 10px 10px 100px 50px blue;
  }
  25% {
    border-color: rgb(239, 244, 11);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }
  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }
  75% {
    border-color: rgb(120, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(120, 217, 160);
  }
  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}

/* Experience */
.ex-items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  margin: 0 1rem;
  height: 20vh;
  padding: 0 12px;
  border-radius: 20px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.ex-items .left img {
  width: 7vw;
  height: 10vh;
  box-shadow: 2px 2px 20px #000000;
}

.ex-items .right h2 {
  color: white;
  text-shadow: 2px 2px 20px #000000;
}

.ex-items .right h4 {
  color: rgb(242, 0, 255);
  text-shadow: 0px 0px 10px #b300ff;
}

/* skills */
.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
  margin: 1.5rem 1rem;
  height: 15vh;
  border-radius: 20px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.skill-item h2 {
  color: white;
  text-shadow: 2px 2px 20px #000000;
}

/* Projects */
.project-card {
  background-color: var(--bg-color);
  border: var(--border);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.project-card .image {
  width: 50%;
}

.project-card .image img {
  width: 100%;
  border: var(--border);
  border-radius: 10px;
  height: 100%;
}

.project-button {
  display: flex;
  justify-content: center;
}

.project-button a:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
  color: white;
}

/* Education */
.ed-card {
  background-color: var(--bg-color);
  border: var(--border);
  box-shadow: var(--box-shadow);
  margin: 1rem 1.5rem;
  width: 29%;
}

/* Contact */
.contact-form {
  width: 50%;
}

.input-field {
  height: 5vh;
  border: none;
  width: 100%;
}

.input-field::placeholder {
  text-align: center;
}

.message-field::placeholder {
  text-align: center;
}

.send-button:hover {
  transform: scale(0.9);
  background-color: white;
  color: blue;
  transition: all 0.3s ease-in-out;
}

/* Links */
.links-box {
  display: flex;
  flex-direction: column;
  background-color: #1292ee;
  position: fixed;
  right: 0;
  z-index: 1000;
  top: 40%;
  width: 4%;
  height: 20%;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.links-box a:hover {
  color: white;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
